RAG_AI_Agent.json
{
  "name": "RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1klywCqpax0CvTL7AynL7a-DvSNKOK_Lg",
          "mode": "list",
          "cachedResultName": "RAG_Data_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1klywCqpax0CvTL7AynL7a-DvSNKOK_Lg"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        60
      ],
      "id": "f2796222-64d3-4415-a7b1-ac163e749525",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W5LZbFFJVeRYu4tz",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 10,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1x3Pd-SrM_rtZzxhIyhLbfJ1nvwTgGVL6",
            "mode": "list",
            "cachedResultName": "rag_test",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1x3Pd-SrM_rtZzxhIyhLbfJ1nvwTgGVL6"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        160
      ],
      "id": "cd98744b-264a-4baa-af49-1da4215f85f9",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W5LZbFFJVeRYu4tz",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        280
      ],
      "id": "62cf0840-abc1-4efc-a956-3fe6c72b3b69",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        160
      ],
      "id": "019ec310-c1ee-4d18-bf6e-84dbae8d8e36",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W5LZbFFJVeRYu4tz",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-pinecone",
          "mode": "list",
          "cachedResultName": "n8n-pinecone"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        460,
        160
      ],
      "id": "94d60689-7cf6-4f20-96c6-7bf7adac02ca",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "J1bRYPyweNBfxZfD",
          "name": "PineconeApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        360
      ],
      "id": "2ad3b529-adec-4570-a233-21c480f7a863",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5dtfi43zwHEAqx0r",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        660,
        320
      ],
      "id": "ccf1db24-adfc-4c4b-b8d1-08e8ac0efce8",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        620,
        460
      ],
      "id": "fc807017-9dfa-4c0a-a154-1e3cdcbe7553",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant designed to help users with information about machine learning. Your primary role is to answer questions accurately using the data stored in the 'machinelearning_info' Pinecone vector store.\n\nUse the 'Answer questions with a vector store' tool to retrieve relevant information based on user queries.maintain a helpful and concise tone, and leverage the Groq Chat Model and Google Gemini Chat Model for natural language responses. \n\nUtilize Simple Memory to retain context within the conversation. avoid speculation outside the provided data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        140,
        680
      ],
      "id": "fdba007e-68c7-49b7-ae35-bd0a28766de8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        20,
        880
      ],
      "id": "c0a07cc9-a79a-4bc2-8e32-6d9673b1030d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vxzGwl0NPBYWTV3h",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        900
      ],
      "id": "81973ba6-834f-407a-a668-077ef3b9499c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        660
      ],
      "id": "9711b087-abf4-4571-be35-ed014957c7bb",
      "name": "When chat message received",
      "webhookId": "9f37f376-7c90-4dc8-9517-6c59df0914d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        1140
      ],
      "id": "867fdf27-ad00-40fd-8ee1-4c2497d5c293",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5dtfi43zwHEAqx0r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "machinelearning_info",
        "description": "Fetch information on machine learning using this node"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        440,
        860
      ],
      "id": "f1412bde-0fc8-4bee-94e6-16e38ce0b40b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-pinecone",
          "mode": "list",
          "cachedResultName": "n8n-pinecone"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        320,
        1040
      ],
      "id": "9c6f9162-3172-4712-9694-2c5f5a2258ef",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "J1bRYPyweNBfxZfD",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        620,
        1000
      ],
      "id": "530154b8-1441-4a34-a54d-0b2320f1b670",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dnomdhZHPFiPaXLB",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49c3ed64-8f07-4627-8b4d-fc9eb553ea18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad65dbdbc51fc8fafb19d057c32c218f0e21eaf8441cb78aebd43701d41d2b44"
  },
  "id": "BzLXzA2QBMYgNf2S",
  "tags": []
}